.vscode
.vs
*.ddmesh
.mayaSwatches
*~
*.tags*
GPATH
GRTAGS
GSYMS
GTAGS
terminal_history.txt

#**************** Folders to ignore if unzipped ***************************

freetype-2.7
vrpn_lib_files
glm
imgui
SOIL
SDL2-2.0.7

#**************** General folders to always ignore ************************

release
debug
x64
bin
lib
build
Projects